/* Blog Section Entrance Animation */
.blog-item {
  animation: fadeUp 0.6s ease forwards;
  opacity: 0;
}

.blog-item:nth-child(1) { animation-delay: 0.1s; }
.blog-item:nth-child(2) { animation-delay: 0.3s; }
.blog-item:nth-child(3) { animation-delay: 0.5s; }
/* Add more nth-child rules if you have more blog items */
