@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
    font-family: "Arimo", sans-serif;
}

header {
    margin-bottom: 1rem;
}